@charset "UTF-8";

.table {
	text-align: center;
}

.tip {
	color: blue;
	text-decoration: none;
	position: relative;
}

.tip span {
	display: none;
}

.tip:hover .popbox {
	display: block;
	position: absolute;
	top: 30px;
	left: -50px;
	width: auto;
	padding: 5px;
}

#p {
	width: 230px;
	box-shadow: 2px 2px 2px 2px gray
}