@charset "UTF-8";

table {
	text-align: center;
}

legend {
	margin: 10px;
	font-size: 1.5em;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	border: 1.5px solid black;
}

.line {
	position: relative;
	top: 20px;
	width: 400px;
	height: 0px;
	border: 1.5px solid black;
}

.flow-chart {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.active {
	background-color: rgb(0, 0, 0, 0.5)
}

.circle-outter {
	margin-right: -6px;
	padding: 0px;
}

.circle-inner {
	position: relative;
	right: 5px;
}

.shift-line {
	margin-right: -22px;
}